**.lif
**.nd2
**.mat
tmp.xml
data/*
**.tif
**.pyc
**/.ipynb_checkpoints
**/*-checkpoint.ipynb
**.mmap
**lifs
.idea
*.egg-info
dist
build
/notebooks/receptors/scan/
/docs/tmp*
/docs/*ipynb
/docs/figures/tmp*
/notebooks/receptors/images/
/docs/matmet.aux
/docs/matmet.bbl
/docs/matmet.blg
/docs/matmet.log
/docs/matmet.out
/docs/diff.aux
/docs/diff.log
/docs/diff.out
/docs/diff.pdf
/docs/diff.tex
/app/dope.py
/app/nope.py
/wheels/
