.env
**.lif
**.nd2
**.mat
tmp.xml
data/*
**.tif
**.pyc
**/.ipynb_checkpoints
**/*-checkpoint.ipynb
**.mmap
**lifs
.idea
*.egg-info
dist
build
/notebooks/receptors/scan/
/docs/tmp*
/docs/*ipynb
/docs/figures/tmp*
/notebooks/receptors/images/
/docs/matmet.aux
/docs/matmet.bbl
/docs/matmet.blg
/docs/matmet.log
/docs/matmet.out
/docs/diff.aux
/docs/diff.log
/docs/diff.out
/docs/diff.pdf
/docs/diff.tex
/app/dope.py
/app/nope.py
/wheels/

# MacOS:
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

