# pip
# ipykernel
# setuptools
# python-javabridge
python-bioformats
jupyter-plotly-dash
jupyterlab
matplotlib
opencv-python
pandas~=1.3.5
scikit-learn
scikit-image
tqdm
bidict
# xlrd
scipy
statsmodels
numba
ffmpeg-python
nd2reader
mgzip
orjson
slack_sdk
openpyxl
h5py